{% load static %}
<footer>
   <div class="footer_content_box">
      <div class="footer_content_item">
         <div class="logo_box"><h3 class='logo'>competition.<span class="sec_p">shop™</span></h3></div>
      </div>
      <div class="footer_content_item">
         <a class='footer_btn' target="_blank" href="https://www.instagram.com/h0opsy/"><p><img src="{% static 'icons/instagram_20.png' %}" class='icon' alt="">@h0opsy</p></a>
         <a class='footer_btn' target="_blank" href="https://www.instagram.com/bogdan.kindzersky/"><p><img src="{% static 'icons/instagram_20.png' %}" class='icon' alt="">@bogdan.kindzersky</p></a>
      </div>
   </div>
   <div class="rights_box"><p class='rights'>© competition.shop™, 2021. ВСЕ ПРАВА ЗАЩИЩЕНЫ.</p></div>
</footer>